.container {
	min-height: calc(100vh - 64px);
	padding: 24px;
	background: #f0f2f5;

	.header {
		margin-bottom: 24px;

		h1 {
			margin-bottom: 8px;
			color: #262626;
			font-weight: 600;
			font-size: 28px;
		}

		p {
			margin: 0;
			color: #8c8c8c;
			font-size: 14px;
		}
	}
}
